<ion-content padding class="login auth-page">

    <div class="auth-content">
        <!-- Logo -->
        <div padding-horizontal text-center>
            <div class="logo"></div>
        </div>

        <p text-center>
            <ion-text style=" font-weight:bold; color: rgb(3, 49, 24); text-decoration-line: underline;">
                Ingrese los Datos
            </ion-text>
        </p>

        <!-- Login form -->

        <form [formGroup]="onLoginForm" class="list-form">

            <ion-item no-padding class="animated fadeInUp">
                <ion-label position="floating">
                    <ion-icon name="mail" item-start></ion-icon>
                    Email
                </ion-label>
                <ion-input color="secondary" type="email" formControlName="email" [(ngModel)]="email"></ion-input>
            </ion-item>
            <p ion-text class="text08" *ngIf="onLoginForm.get('email').touched && onLoginForm.get('email').hasError('required')">
                <ion-text color="warning">
                    Campo Requerido
                </ion-text>
            </p>

            <br />
            <ion-item no-padding class="animated fadeInUp">
                <ion-label position="floating">
                    <ion-icon name="lock" item-start></ion-icon>
                    Contraseña
                </ion-label>
                <ion-input color="secondary" type="password" formControlName="password" [(ngModel)]="password">
                </ion-input>
            </ion-item>
            <p ion-text color="warning" class="text08" *ngIf="onLoginForm.get('password').touched && onLoginForm.get('password').hasError('required')">
                <ion-text color="warning">
                    Campo Requerido
                </ion-text>
            </p>

            <br />

            <br />
            <div>
                <ion-button icon-left size="medium" expand="full" shape="round" color="dark" (click)="prosesLogin()" [disabled]="!onLoginForm.valid" tappable>
                    <ion-icon name="log-in"></ion-icon>
                    Ingresar
                </ion-button>

                <br />

            </div>

        </form>

        <div text-center margin-top>
            <span (click)="goToLogin()" tappable class="paz" tappable>
                <ion-icon style="color: aliceblue" slot="icon-only" name="arrow-round-back"></ion-icon>
                <ion-text color="light" style="font-weight: bold">
                    <strong style="text-decoration-line: underline">Volver</strong>
                </ion-text>
            </span>
        </div>
    </div>

</ion-content>