<ion-header>

    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-back-button defaultHref="/home-tenants"></ion-back-button>
        </ion-buttons>
        <ion-title class="ion-text-center">
            Lista de Propiedades
        </ion-title>
    </ion-toolbar>

</ion-header>

<ion-content padding>

    <ion-searchbar placeholder="Buscar por provincia" [(ngModel)]="searchTerm " (ionChange)="setFilteredItems() "></ion-searchbar>

    <ion-list>

        <ion-card *ngFor="let item of filtro">

            <ion-item>
                <ion-label> {{ item.provincia }} </ion-label>

                <ion-button color="danger" slot="end" (click)="verProperty(item.id)">
                    <ion-icon name="eye"></ion-icon>
                </ion-button>

            </ion-item>

            <ion-item>

                <ion-thumbnail slot="start">
                    <img src="assets/img/imglista.png">
                </ion-thumbnail>
                <ion-label> {{ item.direccion }} </ion-label>
                <ion-label> {{ item.capacidad }} Personas</ion-label>

            </ion-item>
        </ion-card>

    </ion-list>

</ion-content>