<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-back-button defaultHref="/home-tenants"></ion-back-button>
        </ion-buttons>
        <ion-title>Registrar Reservación</ion-title>

        <ion-buttons slot="primary">
            <ion-button (click)="addReservacion()" [disabled]="!formAdd.invalid">
                <ion-icon name="add-circle-outline"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content class="auth-content">

    <form [formGroup]="formAdd" class="list-form">

        <h4 class="ion-padding-horizontal" class="ion-text-center">Ingrese los Datos</h4>

        <br />

        <ion-item>

            <ion-label position="floating" color="secondary">
                <ion-icon name="people" item-start></ion-icon>
                &nbsp; Nombre
            </ion-label>
            <ion-input color="secondary" type="text" formControlName="nombre" [(ngModel)]="nombre"></ion-input>
        </ion-item>

        <p ion-text class="text08" *ngIf="formAdd.get('nombre').touched && formAdd.get('nombre').hasError('required') ">
            <ion-text color="warning"> Corrija o complete el campo </ion-text>
        </p>

        <h4 class="ion-padding-horizontal" class="ion-text-center">Datos de la Propiedad</h4>

        <ion-item>

            <ion-label position="floating" color="secondary">
                <ion-icon name="people" item-start></ion-icon>
                &nbsp; Provincia
            </ion-label>
            <ion-input color="secondary" type="text" formControlName="provincia" [(ngModel)]="provincia"></ion-input>
        </ion-item>

        <p ion-text class="text08" *ngIf="formAdd.get('provincia').touched && formAdd.get('provincia').hasError('required') ">
            <ion-text color="warning"> Corrija o complete el campo </ion-text>
        </p>

        <ion-item>

            <ion-label position="floating" color="secondary">
                <ion-icon name="people" item-start></ion-icon>
                &nbsp;Dirección
            </ion-label>
            <ion-input color="secondary" type="text" formControlName="direccion" [(ngModel)]="direccion"></ion-input>
        </ion-item>

        <p ion-text class="text08" *ngIf="formAdd.get('direccion').touched && formAdd.get('direccion').hasError('required')">
            <ion-text color="warning"> Corrija o complete el campo </ion-text>
        </p>

        <ion-item>

            <ion-label position="floating" color="secondary ">
                <ion-icon name="people" item-start></ion-icon>
                &nbsp; Fecha Ingreso
            </ion-label>

            <ion-datetime cancelText="Cancelar" doneText="Aceptar" color="secondary" type="text" formControlName="ingreso" [(ngModel)]="ingreso"></ion-datetime>
        </ion-item>

        <p ion-text class="text08" *ngIf="formAdd.get('ingreso').touched && formAdd.get('ingreso').hasError( 'required')">
            <ion-text color="warning "> Corrija o complete el campo </ion-text>
        </p>

        <ion-item>

            <ion-label position="floating" color="secondary">
                <ion-icon name="people" item-start></ion-icon>
                &nbsp;Fecha Salida
            </ion-label>
            <ion-datetime cancelText="Cancelar" doneText="Aceptar" color="secondary" type="text" formControlName="salida" [(ngModel)]="salida"></ion-datetime>
        </ion-item>

        <p ion-text class="text08 " *ngIf="formAdd.get('salida').touched && formAdd.get('salida').hasError('required')">
            <ion-text color="warning "> Corrija o complete el campo </ion-text>
        </p>

    </form>
</ion-content>