<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-back-button defaultHref="/home-tenants"></ion-back-button>
        </ion-buttons>
        <ion-title>Registrar Propiedad</ion-title>

        <ion-buttons slot="primary">
            <ion-button (click)="addPropiedad()" [disabled]="!formAdd.valid">
                <ion-icon name="add-circle-outline"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content class="auth-content">

    <form [formGroup]="formAdd" class="list-form">

        <br />

        <ion-item>
            <ion-label position="floating" color="secondary">
                <ion-icon name="people" item-start></ion-icon>
                &nbsp;Provincia
            </ion-label>
            <ion-select interface="popover" color="secondary" type="text" formControlName="provincia" [(ngModel)]="provincia">
                <ion-select-option value="San José">San José</ion-select-option>
                <ion-select-option value="Alajuela">Alajuela</ion-select-option>
                <ion-select-option value="Heredia">Heredia</ion-select-option>
                <ion-select-option value="Cartago">Cartago</ion-select-option>
                <ion-select-option value="Limón">Limón</ion-select-option>
                <ion-select-option value="Puntarenas">Puntarenas</ion-select-option>
                <ion-select-option value="Guanacaste">Guanacaste</ion-select-option>
            </ion-select>
        </ion-item>

        <p ion-text class="text08" *ngIf="formAdd.get('provincia').touched && formAdd.get('provincia').hasError('required')">
            <ion-text color="warning"> Corrija o complete el campo </ion-text>
        </p>
        <ion-item>

            <ion-label position="floating" color="secondary">
                <ion-icon name="people" item-start></ion-icon>
                &nbsp;Dirección
            </ion-label>
            <ion-input color="secondary" type="text" formControlName="direccion" [(ngModel)]="direccion"></ion-input>
        </ion-item>

        <p ion-text class="text08" *ngIf="formAdd.get('direccion').touched && formAdd.get('direccion').hasError('required')">
            <ion-text color="warning"> Corrija o complete el campo </ion-text>
        </p>

        <ion-item>

            <ion-label position="floating " color="secondary ">
                <ion-icon name="people" item-start></ion-icon>
                &nbsp;Cantidad de Cuartos
            </ion-label>
            <ion-input color="secondary " type="number" formControlName="cuartos" [(ngModel)]="cuartos"></ion-input>
        </ion-item>

        <p ion-text class="text08 " *ngIf="formAdd.get('cuartos').touched && formAdd.get('cuartos').hasError('required') ">
            <ion-text color="warning "> Corrija o complete el campo </ion-text>
        </p>

        <ion-item>

            <ion-label position="floating " color="secondary ">
                <ion-icon name="people" item-start></ion-icon>
                &nbsp;Capacidad Personas
            </ion-label>
            <ion-input color="secondary" type="number" formControlName="capacidad" [(ngModel)]="capacidad"></ion-input>
        </ion-item>

        <p ion-text class="text08 " *ngIf="formAdd.get('capacidad').touched && formAdd.get('capacidad').hasError('required') ">
            <ion-text color="warning "> Corrija o complete el campo </ion-text>
        </p>

        <ion-item>

            <ion-label position="floating " color="secondary ">
                <ion-icon name="people" item-start></ion-icon>
                &nbsp;Costo Diario Dólares
            </ion-label>
            <ion-input color="secondary " type="number" formControlName="costodiario" [(ngModel)]="costodiario">
            </ion-input>
        </ion-item>

        <p ion-text class="text08 " *ngIf="formAdd.get('costodiario').touched && formAdd.get('costodiario').hasError( 'required') ">
            <ion-text color="warning "> Corrija o complete el campo </ion-text>
        </p>

        <ion-item>

            <ion-label position="floating " color="secondary ">
                <ion-icon name="people" item-start></ion-icon>
                &nbsp;Teléfono Contacto
            </ion-label>
            <ion-input color="secondary" type="text" formControlName="telpropietario" [(ngModel)]="telpropietario">
            </ion-input>
        </ion-item>

        <p ion-text class="text08 " *ngIf="formAdd.get('telpropietario').touched && formAdd.get('telpropietario').hasError( 'required') ">
            <ion-text color="warning "> Corrija o complete el campo </ion-text>
        </p>

        <ion-item>

            <ion-label position="floating" color="secondary">
                <ion-icon name="people" item-start></ion-icon>
                &nbsp;Latitud
            </ion-label>
            <ion-input color="secondary" type="number" formControlName="latitud" [(ngModel)]="latitud"></ion-input>
        </ion-item>

        <p ion-text class="text08 " *ngIf="formAdd.get('latitud').touched && formAdd.get('latitud').hasError('required')">
            <ion-text color="warning "> Corrija o complete el campo </ion-text>
        </p>

        <ion-item>

            <ion-label position="floating" color="secondary">
                <ion-icon name="people" item-start></ion-icon>
                &nbsp;Longitud
            </ion-label>
            <ion-input color="secondary" type="number" formControlName="longitud" [(ngModel)]="longitud"></ion-input>
        </ion-item>

        <p ion-text class="text08 " *ngIf="formAdd.get('longitud').touched && formAdd.get('longitud').hasError('required')">
            <ion-text color="warning "> Corrija o complete el campo </ion-text>
        </p>

    </form>
</ion-content>