<style>
     :root {
        --ion-safe-area-top: 10px;
        --ion-safe-area-bottom: 15px;
    }
    
    ion-col>div {
        background-color: #f7f7f7;
        border: solid 1px #ddd;
        padding: 5px;
    }
</style>

<ion-header>
    <ion-toolbar color="primary">

        <ion-buttons slot="start">
            <ion-menu-button color="secondary"></ion-menu-button>
        </ion-buttons>

        <ion-title class="ion-text-center"> Go App </ion-title>

        <ion-buttons slot="end">
            <ion-button size="small" shape="round" color="medium" (click)="prosesLogout()">
                <ion-icon name="log-out"></ion-icon>
                <ion-badge color="dark" slot="end"></ion-badge>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>

</ion-header>

<ion-content>

    <ion-content>

        <ion-slides [options]="slideOptsTop">
            <ion-slide>
                <ion-card>
                    <img style="width: 400px; height: 150px" src="assets/img/main.jpg" />
                    <br />
                    <ion-text class="ion-text-start" color="light" style="font-weight: bold">
                        <strong>Aventura</strong>
                    </ion-text>
                </ion-card>
            </ion-slide>

            <ion-slide>
                <ion-card>
                    <img style="width: 400px; height: 150px" src="assets/img/hotel8.jpg" />
                    <br />
                    <ion-text class="ion-text-start" color="light" style="font-weight: bold">
                        <strong>Propiedades</strong>
                    </ion-text>
                </ion-card>
            </ion-slide>

        </ion-slides>

        <h4 class="ion-padding-horizontal" class="ion-text-center">Bienvenid@ a la Aventura</h4>
        <br /> <br />
        <ion-grid>
            <ion-row>
                <ion-col offset-4>
                    <div>
                        <ion-card (click)="list()">
                            <img src="assets/img/scan.png" />
                            <ion-card-content> Lista</ion-card-content>
                        </ion-card>
                    </div>
                </ion-col>

                <ion-col>
                    <div>
                        <ion-card (click)="list()">
                            <img src="assets/img/scan.png" />
                            <ion-card-content> Reserva </ion-card-content>
                        </ion-card>
                    </div>
                </ion-col>
            </ion-row>

        </ion-grid>


    </ion-content>