<style>
     :root {
        --ion-safe-area-top: 10px;
        --ion-safe-area-bottom: 15px;
    }
    
    ion-col>div {
        background-color: #f7f7f7;
        border: solid 1px #ddd;
        padding: 5px;
    }
</style>

<ion-header>
    <ion-toolbar color="primary">

        <ion-title class="ion-text-center"> Go App </ion-title>

        <ion-buttons slot="end">
            <ion-button size="small" shape="round" color="medium" (click)="prosesLogout()">
                <ion-icon name="log-out"></ion-icon>
                <ion-badge color="dark" slot="end"></ion-badge>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>

</ion-header>

<ion-content>
    <br />

    <h4 class="ion-padding-horizontal" class="ion-text-center">Administrar Propiedades</h4>
    <br /> <br /> <br />
    <ion-grid>
        <ion-row>
            <ion-col offset-4>
                <div>
                    <ion-card (click)="add()">
                        <img src="assets/img/scan.png" />
                        <ion-card-content> Ingresar</ion-card-content>
                    </ion-card>
                </div>
            </ion-col>

            <ion-col>
                <div>
                    <ion-card (click)="list()">
                        <img src="assets/img/scan.png" />
                        <ion-card-content> Lista </ion-card-content>
                    </ion-card>
                </div>
            </ion-col>
        </ion-row>

    </ion-grid>

    <br />
    <br />

    <section class="ion-text-center">
        <ion-button color="medium" (click)="reservaciones()">Sitio Reservas</ion-button>
    </section>

</ion-content>