<ion-content padding class="animated fadeIn login auth-page">
    <div class="theme-bg"></div>
    <div class="auth-content">
        <div padding-horizontal text-center class="animated fadeInDown">
            <div class="logo"></div>
        </div>
        <p text-center>
            <ion-text style=" font-weight:bold; color: rgb(3, 49, 24); text-decoration-line: underline;">
                Registrarse
            </ion-text>
        </p>
        <br />
        <ion-grid class="btn-group">
            <ion-row>
                <ion-col size="12">
                    <br />
                    <ion-button (click)="goToRegister() " shape="round " expand="full " color="primary ">
                        <ion-icon slot="icon-only " name="clipboard "></ion-icon>
                        &nbsp; Ingresar Datos
                    </ion-button>
                    <br />
                    <br />
                    <br />
                    <br />
                    <ion-button (click)="goToLoginData() " shape="round " expand="full " color="primary ">
                        <ion-icon slot="icon-only " name="checkmark-circle-outline "></ion-icon>
                        &nbsp;Soy cliente GoApp
                    </ion-button>
                </ion-col>
            </ion-row>
        </ion-grid>
        <br />
        <br />
    </div>
</ion-content>