<ion-app>
    <ion-split-pane>
        <ion-menu>
            <ion-header>
                <ion-toolbar color="dark" class="user-profile">
                    <ion-item class="ion-margin-bottom">
                        <ion-label style="align-self: auto;">
                            <ion-avatar slot="strong" class="user-avatar">
                                <img src="assets/img/noe.jpg">
                            </ion-avatar>
                            <br />
                            <ion-text color="light" style="text-align: center">
                                <h2><strong>{{username}}</strong></h2>
                            </ion-text>

                            <ion-menu-toggle auto-hide="false">

                                <div style="text-align: center">

                                    <ion-text tappable (click)="logout()" color="medium" class="text08">
                                        <ion-icon name="log-out"></ion-icon>
                                        <strong>Cerrar</strong>
                                    </ion-text>
                                </div>
                            </ion-menu-toggle>

                        </ion-label>
                    </ion-item>
                </ion-toolbar>
            </ion-header>

            <ion-content class="bg-profile">
                <ion-list>
                    <ion-menu-toggle auto-hide="false" *ngFor="let p of appPages">
                        <ion-item [routerLink]="[p.url]" color="primary">
                            <ion-icon slot="start" [name]="p.icon" color="light"></ion-icon>
                            <ion-label>
                                {{p.title}}
                            </ion-label>
                        </ion-item>
                    </ion-menu-toggle>
                </ion-list>
            </ion-content>
        </ion-menu>
        <ion-router-outlet main></ion-router-outlet>
    </ion-split-pane>
</ion-app>