:host {
  ion-content {
    --background: none;
    background-image: url('/assets/img/fondo.png');
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
  }
}