<ion-content padding class="login auth-page">

    <div class="auth-content">
        <!-- Logo -->
        <div padding-horizontal text-center>
            <div class="logo"></div>
            <p text-center>
                <ion-text style=" font-weight:bold; color: rgb(3, 49, 24); text-decoration-line: underline;">
                    Registrarse
                </ion-text>
            </p>
        </div>

        <!-- Register form -->
        <form [formGroup]="onRegisterForm" class="list-form">

            <ion-item no-padding class="animated fadeInUp">
                <ion-label position="floating">
                    <ion-icon name="people" item-start></ion-icon>
                    Nombre Completo
                </ion-label>
                <ion-input color="secondary" type="text" formControlName="fullName" [(ngModel)]="fullname"></ion-input>
            </ion-item>

            <p ion-text class="text08" *ngIf="onRegisterForm.get('fullName').touched && onRegisterForm.get('fullName').hasError('required')">
                <ion-text color="warning">
                    Campo Requerido
                </ion-text>
            </p>

            <ion-item no-padding class="animated fadeInUp">
                <ion-label position="floating">
                    <ion-icon name="mail" item-start></ion-icon>
                    Email
                </ion-label>
                <ion-input color="secondary" type="email" formControlName="email" [(ngModel)]="email"></ion-input>
            </ion-item>
            <p ion-text class="text08" *ngIf="onRegisterForm.get('email').touched && onRegisterForm.get('email').hasError('required')">
                <ion-text color="warning">
                    Campo Requerido
                </ion-text>
            </p>

            <ion-item no-padding class="animated fadeInUp">
                <ion-label position="floating">
                    <ion-icon name="lock" item-start></ion-icon>
                    Contraseña
                </ion-label>
                <ion-input color="secondary" type="password" formControlName="password" [(ngModel)]="password">
                </ion-input>
            </ion-item>
            <p ion-text color="warning" class="text08" *ngIf="onRegisterForm.get('password').touched && onRegisterForm.get('password').hasError('required')">
                <ion-text color="warning">
                    Campo Requerido
                </ion-text>
            </p>

            <br />
            <br />
            <ion-item>
                <ion-label>Eres arrendatario?</ion-label>
                <ion-checkbox color="primary" checked="false" formControlName="arrendatario" [(ngModel)]="arrendatario"></ion-checkbox>
            </ion-item>

        </form>

        <br />
        <br />
        <div margin-top>
            <ion-button icon-left size="medium" expand="full" shape="round" color="dark" (click)="prosesRegister()" [disabled]="!onRegisterForm.valid" tappable>
                <ion-icon name="log-in"></ion-icon>
                &nbsp;Registrarse
            </ion-button>
            <br />

        </div>


        <!-- Other links -->
        <div text-center margin-top>
            <span (click)="goToLogin()" tappable>
                <ion-text color="light" style="text-decoration:underline">
                    <strong>Ya tengo cuenta!</strong>
                </ion-text>
            </span>
        </div>
    </div>
</ion-content>