:host {
    ion-content {
      --background: none;
      background-image: url('/assets/img/fondo.png');
      background-position: center top;
      background-repeat: no-repeat;
      background-size: cover;
    }
  }

  .contact{

    width: 190px;
    height: 190px;
    margin: 5px auto 8px;
    border-radius: 10%;
    background: url("/assets/img/contactenos.png") no-repeat;
    background-size: 100%;

  }
  