<style>
    :root {
      --ion-safe-area-top: 20px;
      --ion-safe-area-bottom: 22px;
    }
    header {
      font-size: 11px;
      font-weight: 600;
      letter-spacing: 0.05em;
      margin-bottom: 1.25em;
      text-transform: uppercase;
    }
    section {
      margin-top: 2em;
      margin-bottom: 2.5em;
    }
    section:not(.full-width),
    .full-width > header {
      padding: 0 10px;
    }
  </style>


<ion-header>
    <ion-toolbar color="primary">
      <ion-buttons slot="start">
        <ion-back-button></ion-back-button>
      </ion-buttons>
      <ion-title style="text-align: center">Ayuda?</ion-title>
    </ion-toolbar>
  </ion-header>

<ion-content padding>

    <div class="contact"></div>

    <section>       
        <ion-button expand="block">Facebook</ion-button>
      </section>

      <section>       
          <ion-button expand="block">Chat</ion-button>
        </section>          

          <section>           
              <ion-button expand="block">Correo</ion-button>
            </section>
    
</ion-content>