<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Editar Perfil</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="profile">
  <ion-card no-margin>
    <ion-card-content class="bg-profile">
      <img src="assets/img/189032 Bussines Card LOGO1.png">
      <h1 class="fw500">Pablo Soto</h1>
      <h2 color="light" margin-bottom>Cliente</h2>
      <ion-button icon-left color="secondary">
        <ion-icon name="photos"></ion-icon> 
        Editar / Añadir Avatar
      </ion-button>
    </ion-card-content>
  
    <ion-grid fixed no-padding>
      <ion-row>
        <ion-col size="12" padding>

          <ion-list margin-bottom>
            <ion-list-header color="light">
              <ion-label class="fw700">Formulario</ion-label>
            </ion-list-header>

            <ion-item>
              <ion-label color="dark" position="stacked">Nombre Completo:</ion-label>
              <ion-input inputmode="text" placeholder="Ej: Pablo Soto" value=""></ion-input>
            </ion-item>
    
            <ion-item>
              <ion-label color="dark" position="stacked">Email:</ion-label>
              <ion-input inputmode="email" placeholder="Ej: info@sotechcr.com" value=""></ion-input>
            </ion-item>
    
            <ion-item>
              <ion-label color="dark" position="stacked">Dirección:</ion-label>
              <ion-input inputmode="text" placeholder="Ej: San Sebastián"></ion-input>
            </ion-item>
    
            <ion-item>
              <ion-label color="dark">Ciudad</ion-label>
              <ion-select>
                <ion-select-option value="nes">San José</ion-select-option>
                <ion-select-option value="n64">Alajuela</ion-select-option>
                <ion-select-option value="ps">Heredia</ion-select-option>
                <ion-select-option value="genesis">Cartago</ion-select-option>
                <ion-select-option value="saturn">Limón</ion-select-option>
                <ion-select-option value="snes">Puntarenas</ion-select-option>
                <ion-select-option value="snes">Guanacaste</ion-select-option>
              </ion-select>
            </ion-item>
    
      
          </ion-list>

          <ion-list>
            <ion-radio-group>
              <ion-list-header color="light">
                <ion-label class="fw700">Tipo Usuario</ion-label>
              </ion-list-header>
          
              <ion-item>
                <ion-label color="primary">Cliente</ion-label>
                <ion-radio slot="start" value="customer" checked></ion-radio>
              </ion-item>
          
              <ion-item>
                <ion-label color="primary">Propietario</ion-label>
                <ion-radio slot="start" value="agent"></ion-radio>
              </ion-item>
            </ion-radio-group>

            <ion-item>
              <ion-label class="text-1x">Pruebas</ion-label>
              <ion-checkbox></ion-checkbox>
            </ion-item>
          </ion-list>
  
        </ion-col>
      </ion-row>
    </ion-grid>
  
    <ion-button size="large" expand="full" color="dark" (click)="sendData()" no-margin>Editar</ion-button>
  </ion-card>
  
  <div padding>
    <ion-text color="dark" no-margin>
    Información Adicional Podemos meterlo acá.
    </ion-text>
  </div>
</ion-content>