<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
        </ion-buttons>
        <ion-title ion-text-center>
            Detalles Propiedad
        </ion-title>
    </ion-toolbar>
</ion-header>
<ion-content>
    <ion-card *ngFor="let item of property">
        <img style="height:100px" src="assets/img/imglista.png" />
        <ion-card-content>
            <ion-card-title class="ion-text-center">
                Detalles
            </ion-card-title>
        </ion-card-content>

        <ion-item>
            <h6>Provincia:&nbsp;</h6>
            <h6> {{ item.provincia }}</h6>
        </ion-item>

        <ion-item>
            <h6>Dirección:&nbsp;</h6>
            <h6> {{ item.direccion }}</h6>
        </ion-item>

        <ion-item>
            <h6>Cantidad Cuartos:&nbsp;</h6>
            <h6> {{ item.cuartos }}</h6>
        </ion-item>

        <ion-item>
            <h6>Capacidad:&nbsp;</h6>
            <h6> {{ item.capacidad }} Personas</h6>
        </ion-item>

        <ion-item>
            <h6>Costo Diario:&nbsp;</h6>
            <h6> {{ item.costodiario }}</h6>
        </ion-item>

        <br />
        <br />

        <ion-card-title class="ion-text-center">
            Contacto
        </ion-card-title>

        <ion-item>
            <h6>Teléfono Contacto:&nbsp;</h6>
            <h6> {{ item.telpropietario }}</h6>
        </ion-item>

    </ion-card>

    <ion-content class="ion-padding" style="width:100%;height:80%">
        <div id="map"></div>
    </ion-content>

</ion-content>